@model WebApplication.Models.SignUpSecondViewModel
@{
    ViewData["Title"] = "SignUp";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Mockups" asp-action="SignUpComplete" method="post">
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Birthday)
    @Html.HiddenFor(model => model.Gender)

    <div class="form-group">
        <label>Email</label>
        <input asp-for="@Model.Email" type="email" class="form-control">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Пароль</label>
        <input asp-for="@Model.Password" type="password" class="form-control">
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Подтвердите пароль</label>
        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="@Model.IsRemember" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>

    <button type="submit" class="btn btn-primary">Завершить регистрацию</button>
</form>
