@model WebApplication.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symptoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Rooms" asp-action="Details" asp-route-id="@Model.RoomId">
                @Html.DisplayFor(model => model.Room.Number)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Hospitals" asp-action="Details" asp-route-id="@Model.HospitalId">
                @Html.DisplayFor(model => model.Hospital.Name)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
