<h1>@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-3">
        Первое число
    </dt>
    <dd class="col-9">
        <span class="badge badge-light">@ViewData["First"]</span>
    </dd>
    <dt class="col-3">
        Второе число
    </dt>
    <dd class="col-9">
        <span class="badge badge-light">@ViewData["Second"]</span>
    </dd>
    <dt class="col-3">
        Сумма чисел
    </dt>
    <dd class="col-9">
        <span class="badge badge-light">@ViewData["First"] + @ViewData["Second"] = @ViewData["Sum"]</span>
    </dd>
    <dt class="col-3">
        Разность чисел
    </dt>
    <dd class="col-9">
        <span class="badge badge-light">@ViewData["First"] - @ViewData["Second"] = @ViewData["Sub"]</span>
    </dd>
    <dt class="col-3">
        Произведение чисел
    </dt>
    <dd class="col-9">
        <span class="badge badge-light">@ViewData["First"] * @ViewData["Second"] = @ViewData["Mult"]</span>
    </dd>
    <dt class="col-3">
        Частное чисел
    </dt>
    <dd class="col-9">
        @if ((int)ViewData["Div"] == -1)
        {
            <span class="badge badge-light">знаменатель равен нулю</span>
        }
        else
        {
            <span class="badge badge-light">@ViewData["First"] / @ViewData["Second"] = @ViewData["Div"]</span>
        }
    </dd>
</dl>